@{
    ViewData["Title"] = "Checkmarx Create Report - Error";
}

<div class="text-center">
    <h1 class="display-4">An error has occurred during report generation, Please try again.</h1>

</div>