@{
    ViewData["Title"] = "Summary Dashboard";
}

<div class="loader"></div>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

@section Styles
{
    <link rel="stylesheet" href="/css/dashboard.css" type="text/css" />
}

@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.ajax({
                url: 'GetProjectScanSummary',
                dataType: "json",
                type: "GET",
                error: function(xhr, status, error) {
                    $('.loader').hide();
                },
                success: function(data) {
                    $('.loader').hide();
                    PopulateChart(data);
                    return false;
                }
            });
            return false;
        }

        function parseISOString(s) {
            var b = s.split(/\D+/);
            return new Date(Date.UTC(b[0], --b[1], b[2], b[3], b[4], b[5], b[6]));
        }

        function PopulateChart(data) {
            var dataArray = [
                ['Severity', 'Number of vulnerabilities'],
                ['High', Number(data.highVulnerabilities)],
                ['Medium', Number(data.mediumVulnerabilities)],
                ['Low', Number(data.lowVulnerabilities)],
                ['Info', Number(data.infoVulnerabilities)]
            ];

            var options = {
                title: `Summary for Project
                - Project Name: ${data.projectName} 
                - Owner: ${data.owningTeam} 
                - Last Scan Completed on: ${parseISOString(data.scanRequestCompletion)}`

            };

            data = google.visualization.arrayToDataTable(dataArray);

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>
}